body {
  background-color: #222;
  max-width: 480px;
  margin: 160px auto;
  padding: 8px;
}

form {
  background-color: #d0d0d033;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
}

form label {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

form label:not(:first-child) {
  margin-top: 16px;
}

form input[type=text] {
  margin-top: 8px;
  padding: 8px;
  background-color: #666;
  border-style: none;
  border-radius: 8px;
  outline: none;
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

form input[type=password] {
  margin-top: 8px;
  padding: 8px;
  background-color: #666;
  border-style: none;
  border-radius: 8px;
  outline: none;
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

form input[type=submit] {
  margin-top: 32px;
  padding: 12px;
  background-color: #777;
  border-style: none;
  border-radius: 8px;
  outline: none;
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

form input[type=submit]:active {
  background-color: #999;
}

form h5 {
  margin-bottom: 0;
  margin-top: 12px;
  color: #dd2222;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;;
}
